{% extends 'user/layout.html' %}
{% load i18n %}

{% block content %}
    <div id="processing-container" style="display: none; position: fixed; top: 60px; right: 20px; background-color: #737373; color: snow; padding: 5px; z-index: 9999;">
        <h5>{% blocktrans %}Processing...{% endblocktrans %}</h5>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{% blocktrans %}The Open Graph Protocol Inspector{% endblocktrans %}</h1>
            <div class="span12">
                <input id="url" name="url" type="text" class="inline" style="width: 80%;" placeholder="{% trans "Please enter URL..." %}" value="http://tapdoon.com/board/">
                <input id="inspect" type="button" class="inline" value="{% trans "Inspect" %}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="inspect-result-container">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% url 'blog_og_inspect' as blog_og_inspect %}
    {% url 'blog_og_save_image' as blog_og_save_image %}
    <script type="application/javascript">
        var initializeAjax = function () {
            function csrfSafeMethod(method) {
                // These HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", $.cookie("csrftoken"));
                    }
                }
            });
        };
        initializeAjax();

        $("#inspect").click(function () {
            var url = $("#url").val();
            if (url) {
                $("#processing-container").show();
                $.ajax({
                    url: "{{ blog_og_inspect }}", type: "POST", data: {"url": url}
                }).done(function (result, textStatus, jqXHR) {
                    $("#inspect-result-container").html(result);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log("Start of error variables:");
                    console.log(jqXHR, textStatus, errorThrown);
                    console.log("End of error variables.");
                    alert("Unexpected error occurred. Please see console for details.");
                    $("#inspect-result-container").html("");
                }).always(function () {
                    $("#processing-container").hide();
                });
            } else {
                alert("Please enter URL.");
            }
        });

        $("body").on("click", "a[data-type=save-image]", function () {
            var imageId = $(this).data("image-id");
            $("#processing-container").show();
            $.ajax({
                url: "{{ blog_og_save_image }}", type: "POST", data: {"imageId": imageId}
            }).done(function (result, textStatus, jqXHR) {
                alert(result.result.message);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("Start of error variables:");
                console.log(jqXHR, textStatus, errorThrown);
                console.log("End of error variables.");
                alert("Unexpected error occurred. Please see console for details.");
            }).always(function () {
                $("#processing-container").hide();
            });
        });
    </script>
{% endblock %}